.main {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 90vh;
}

.searchContainer {
  width: 30%;
  padding: 16px;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.listContainer {
  width: 70%;
  padding: 16px;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}